@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.more__btn, .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__text__contents .hero__buttons, .navbar .navbar__logo__links ul, .navbar .navbar__logo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_row, .take__away, .cards__item .plus, .cards__item .offer, .about__contents, .features__items__box .features__items, .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loading {
  position: fixed;
  background-color: #fff;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes ldio-489tt36cqcz {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes ldio-489tt36cqcz {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-489tt36cqcz div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-489tt36cqcz div {
  -webkit-animation: ldio-489tt36cqcz 1s linear infinite;
          animation: ldio-489tt36cqcz 1s linear infinite;
  top: 100px;
  left: 100px;
}

.loadingio-spinner-rolling-3vfledyjzo7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-489tt36cqcz {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; /* see note above */
}

.ldio-489tt36cqcz div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#backtop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding-top: 10px;
  width: 60px;
  height: 70px;
  background: transparent;
  display: none;
}

#backtop img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 35px;
  color: white;
}

.backtop-show {
  display: block !important;
  z-index: 55;
}

@media (max-width: 500px) {
  #backtop {
    width: 40px;
    height: 50px;
    right: 30px;
    bottom: 30px;
  }
}
.navbar {
  padding-top: 33px;
  padding-bottom: 33px;
}
.navbar .navbar__logo__links a img {
  margin-right: 40px;
}
@media (max-width: 1130px) {
  .navbar .navbar__logo__links ul {
    display: none;
  }
}
.navbar .navbar__logo__links ul li {
  margin-right: 30px;
}
@media (max-width: 865px) {
  .navbar .navbar__logo__links ul li {
    margin-right: 25px;
  }
}
.navbar .navbar__logo__links ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
}
@media (max-width: 971px) {
  .navbar .navbar__logo__links ul li a {
    padding: 10px 15px;
  }
}
@media (max-width: 917px) {
  .navbar .navbar__logo__links ul li a {
    padding: 10px 10px;
  }
}
@media (max-width: 865px) {
  .navbar .navbar__logo__links ul li a {
    padding: 10px 15px;
  }
}
.navbar .navbar__logo__links ul li a:hover {
  color: #fff;
  background-color: #DC780B;
}
.navbar button {
  width: 155px;
  height: 46px;
  border-radius: 5px;
  background: #DC780B;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 350px) {
  .navbar button {
    display: none;
  }
}
.navbar button:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.navbar #navbar-open img {
  width: 50px;
  height: 50px;
  display: none;
}
@media (max-width: 1130px) {
  .navbar #navbar-open img {
    display: block;
    cursor: pointer;
  }
}

#navbar-responsive {
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.responsive__position {
  background: -webkit-gradient(linear, left top, left bottom, from(#DC780B), color-stop(15%, #fff), color-stop(85%, #DC780B));
  background: linear-gradient(#DC780B 0% 15%, #fff 15% 85%, #DC780B 85% 100%);
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.responsive__position ul li {
  margin: 40px 0px;
  text-align: center;
}
.responsive__position ul li a {
  font-size: 30px;
  color: #DC780B;
  padding: 10px 50px;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.responsive__position ul li a:hover {
  background-color: #DC780B;
  color: #fff;
}

#navbar-close {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#hero {
  background-image: url("../images/mmmm.jpeg");
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  width: 100%;
  height: 695px;
}
@media (max-width: 811px) {
  .hero {
    height: 100%;
  }
}
.hero .hero__text__contents {
  width: 80%;
  text-align: center;
}
.hero .hero__text__contents h1 {
  color: #150c01;
  font-size: 60px;
  font-weight: 800;
  line-height: 80.6px;
  padding-bottom: 30px;
}
@media (max-width: 661px) {
  .hero .hero__text__contents h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (max-width: 426px) {
  .hero .hero__text__contents h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
.hero .hero__text__contents p {
  color: #150c01;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 40px;
  opacity: 0.6;
}
.hero .hero__text__contents .hero__buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media (max-width: 403px) {
  .hero .hero__text__contents .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero .hero__text__contents .hero__buttons button {
  width: 158px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  background: #DC780B;
  margin-bottom: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hero .hero__text__contents .hero__buttons button:hover {
  background-color: transparent;
  color: #DC780B;
  border: 2px solid #DC780B;
}
.hero .hero__text__contents .hero__buttons .btn__2 {
  background-color: transparent;
  color: #DC780B;
  border: 2px solid #DC780B;
}
.hero .hero__text__contents .hero__buttons .btn__2:hover {
  color: #fff;
  background: #DC780B;
}

.features__title {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 403px) {
  .features__title {
    text-align: center;
  }
}
.features__title h3 {
  color: #DC780B;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.features__title h2 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 10px;
}

.features__items__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  height: 100%;
}
@media (max-width: 647px) {
  .features__items__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features__items__box .features__items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__items__box .features__items .items__img {
  width: 88px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 50%;
}
.features__items__box .features__items .img-1 {
  background-color: #d3e977;
}
.features__items__box .features__items .img-2 {
  background-color: #18abb8;
}
.features__items__box .features__items .img-3 {
  background-color: #E64D2E;
}
.features__items__box .features__items h4 {
  color: #150c01;
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 33px;
  padding-bottom: 15px;
}
.features__items__box .features__items p {
  color: #150c01;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 300px;
  height: 68px;
  opacity: 0.7;
}

.features__page {
  padding-bottom: 100px;
}

.about {
  padding-bottom: 80px;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.about__title h1 {
  font-size: 40px;
}

.about__contents {
  position: relative;
}
@media (max-width: 1083px) {
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__contents .you__img img {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.about__you {
  margin-left: 60px;
}
@media (max-width: 1083px) {
  .about__you {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-left: 0;
  }
}
.about__you h3 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 40.625px;
  padding-bottom: 30px;
}
@media (max-width: 400px) {
  .about__you h3 {
    padding-top: 20px;
    font-size: 25px;
  }
}
.about__you p {
  color: #150c01;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  padding-bottom: 30px;
}
.about__you button {
  width: 142px;
  height: 42px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  background-color: #DC780B;
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about__you button:hover {
  color: #DC780B;
  background-color: transparent;
  border: 1px solid #DC780B;
}

@media (max-width: 600px) {
  .girl__img {
    width: 100%;
  }
}

.menu__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}
.menu__title h3 {
  color: #DC780B;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.menu__title h2 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 25px;
}
.menu__title p {
  color: #150C01;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 748px;
  padding-bottom: 55px;
}

.img_cards_ffos {
  width: 100%;
}

.cards__item {
  max-width: 360px;
  height: 446px;
  border-radius: 75px 10px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  overflow: hidden;
}
.cards__item img {
  border-radius: 50px 0px 50px 0px;
  padding-bottom: 7px;
}
.cards__item .offer {
  padding: 0px 25px;
}
.cards__item .offer h3 {
  color: #150C01;
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}
.cards__item p {
  color: #150C01;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 25px;
  padding-bottom: 20px;
}
.cards__item .plus {
  padding: 0px 25px;
}

.cards__item:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu__cards__pack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 1038px) {
  .menu__cards__pack {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 654px) {
  .menu__cards__pack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.more__btn {
  margin: 60px 0px;
}
.more__btn button {
  color: #DC780B;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #DC780B;
  width: 142px;
  height: 42px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 200px;
  cursor: pointer;
}
.more__btn button:hover {
  color: #fff;
  background-color: #DC780B;
}

#takeAway {
  background-color: rgba(242, 157, 54, 0.1);
}

.take__away {
  position: relative;
  padding-left: 50px;
}
@media (max-width: 1053px) {
  .take__away {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    text-align: center;
  }
}

.take__away__texts h4 {
  color: #DC780B;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-top: 50px;
}
.take__away__texts h3 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 40.625px;
  padding-bottom: 30px;
  max-width: 555px;
}
.take__away__texts p {
  color: #150c01;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  padding-bottom: 40px;
  max-width: 555px;
}

.buttons__away {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
@media (max-width: 1053px) {
  .buttons__away {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.buttons__away button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 163px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  outline: none;
  border-radius: 10px;
}
@media (max-width: 384px) {
  .buttons__away {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.apple_bt_a {
  background-color: #000;
  color: #fff;
}

.take__phone {
  position: absolute;
  right: 50px;
}
@media (max-width: 1053px) {
  .take__phone {
    position: relative;
    right: 0;
  }
}
.take__phone img {
  width: 100%;
}

#contact {
  background: url("../images/conte.jpg");
  background-size: cover;
}

.contact__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 200px;
}

.contact__title h4 {
  color: #DC780B;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.contact__title h3 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 40.6px;
  max-width: 749px;
  padding-bottom: 46px;
}

.email__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 571px) {
  .email__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
.email__area input {
  width: 650px;
  height: 75px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  outline: none;
  padding-left: 40px;
}
@media (max-width: 882px) {
  .email__area input {
    width: 450px;
  }
}
@media (max-width: 670px) {
  .email__area input {
    width: 350px;
  }
}
@media (max-width: 571px) {
  .email__area input {
    width: 300px;
  }
}
@media (max-width: 372px) {
  .email__area input {
    width: 250px;
  }
}
.email__area button {
  width: 156px;
  height: 75px;
  border-radius: 10px;
  background: #DC780B;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 40.6px;
}

footer {
  background: #252525;
}

.footer_row {
  padding: 120px 0px;
}
@media (max-width: 680px) {
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.row__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #fff;
}

.footer__logo {
  width: 70px;
  height: 70px;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  background-color: #f6c020;
}
.footer__end h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer__end h2 span {
  color: #DC780B;
}